.App {
  text-align: center;
}

.login-card{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;

}
.button-login-group{
  display: flex; 
  justify-content:center;
  gap: 20px;

}
